/* 用于mapbox组件的样式问题 */

.maplibregl-ctrl-top-right .mapboxgl-ctrl {
    float: right;
    margin: 10px 10px 0 0;
}
.maplibregl-ctrl-right .mapboxgl-ctrl {
    float: right;
    margin: 0 10px 0 0;
}
.maplibregl-ctrl-top-left .mapboxgl-ctrl {
    float: left;
    margin: 10px 0 0 10px;
}
.maplibregl-ctrl-left .mapboxgl-ctrl {
    float: left;
    margin: 0 0 0 10px;
}
.maplibregl-ctrl-bottom-left .mapboxgl-ctrl {
    float: left;
    margin: 0 0 10px 10px;
}
.maplibregl-ctrl-bottom-right .mapboxgl-ctrl {
    float: right;
    margin: 0 10px 10px 0;
}


.mapboxgl-ctrl-group {
    border-radius: 4px;
    background: #fff;
}

.mapboxgl-ctrl-group:not(:empty) {
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

@media (-ms-high-contrast: active) {
    .mapboxgl-ctrl-group:not(:empty) {
        box-shadow: 0 0 0 2px ButtonText;
    }
}

.mapboxgl-ctrl-group button {
    width: 29px;
    height: 29px;
    display: block;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

.mapboxgl-ctrl-group button + button {
    border-top: 1px solid #ddd;
}

.mapboxgl-ctrl button .mapboxgl-ctrl-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (-ms-high-contrast: active) {
    .mapboxgl-ctrl-icon {
        background-color: transparent;
    }

    .mapboxgl-ctrl-group button + button {
        border-top: 1px solid ButtonText;
    }
}

.mapboxgl-ctrl-attrib-button:focus,
.mapboxgl-ctrl-group button:focus {
    box-shadow: 0 0 2px 2px rgb(0 150 255 / 100%);
}

.mapboxgl-ctrl button:disabled {
    cursor: not-allowed;
}

.mapboxgl-ctrl button:disabled .mapboxgl-ctrl-icon {
    opacity: 0.25;
}

.mapboxgl-ctrl-group button:first-child {
    border-radius: 4px 4px 0 0;
}

.mapboxgl-ctrl-group button:last-child {
    border-radius: 0 0 4px 4px;
}

.mapboxgl-ctrl-group button:only-child {
    border-radius: inherit;
}

.mapboxgl-ctrl button:not(:disabled):hover {
    background-color: rgb(0 0 0 / 5%);
}

.mapboxgl-ctrl-group button:focus:focus-visible {
    box-shadow: 0 0 2px 2px rgb(0 150 255 / 100%);
}

.mapboxgl-ctrl-group button:focus:not(:focus-visible) {
    box-shadow: none;
}



.mapboxgl-ctrl {
    clear: both;
    pointer-events: auto;

    /* workaround for a Safari bug https://github.com/mapbox/mapbox-gl-js/issues/8185 */
    transform: translate(0, 0);
}